*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-image: url(background.webp);
}
.firstrow {
  display: flex;
}
.secondrow{
  display: flex;
  justify-content: center;
}

.container{
    margin: 2%;
    width: 30%;
    padding: 1%;
    background: rgba(238, 226, 226, 0.8);
    border-radius: 2%;
    /* box-shadow: 10px 10px 10px gray; */
}

.container:hover{
    background: rgba(238, 226, 226, 0.9);
    box-shadow: 10px 10px 10px gray;
}


header{
    margin: 5%; margin-left: 0;
}
h1{
    font-size: 1.8rem;
    text-align: center;
}

h2{
    font-size: 1.2rem;
}
p{
    font-size: 1rem;
}

.main{
    margin: 5%; margin-left: 0;
}

.main::after{
    display: inline;
}

.oppChoise{
    margin: 5% 0 5% 0;
}

.choise{
    display: inline;
    background-color: aliceblue;
}

button{
    border: none;
    border-radius: 10%;
    background-color: #555;
    color: white;
    padding: 2.5%; 
    margin: 1%;
    font-size: medium;
    align-self: center;
}
button:hover{
    background-color: palevioletred;
}


footer{
    margin:0%;
}

#rules {
    width: 100%;
    background-color: #555;
    color: white;
    cursor: pointer;
    border: none; padding: 2%;
  }
  
  #rules:hover {
    background-color: palevioletred;
  }

  #rulesimg{
    display: none;
  }

  footer div{
    display: flex;
  }

  footer div img{
    flex: 2;
    width: 10%;
    padding-right: 5%;
  }

  footer div p{
    flex: 2;
  }
  
  .content {
    padding: 2%;
  }
/* second game */
#spacing{
  height: 500px;
}

#coin{
  position: relative;
  top: 50%; left: 35%;
  background-color: gray;
  border-radius: 50%; box-shadow: 5px 5px 0px 5px darkgray ;
  height: 30%; width: 30%;
}
#coin p{
  font-size: 50px;
  text-align: center;
  position: relative;
  top: 20%;
}

#coin.animate{
  animation: flipcoin ease-out 2s;
}

@keyframes flipcoin {
  25% { top: 50px; }
  100% {transform: rotate3d(1, 0, 0, 1000deg);}
}





/*  */
  .copyright{
    position: relative;
    width: 100%;
    bottom: 0;
    padding-bottom: 2%;
    color: white;
  }
  .copyright p{
    text-align: center;
  }

  @media only screen and (max-width: 1100px){
  .firstrow ,.secondrow{
    flex-direction: column;
  }
  .container{
    align-self: center;
    width: 80%; height: 60%;
  }
 footer div{
    flex-direction: column;
 }
 footer div img{
    width:80%; height: 70%;
    padding-right: 0%;
    align-self: center;
 }
 
}

